@inherits LayoutComponentBase
<div class="page">
    <header>
        <NavMenu />
    </header>

    <main>
        <article role="main" class="pb-3">
            @Body
        </article>
    </main>
      <ActionToast/>
</div>